# Dependencies
node_modules/
inspector.config.json
package-lock.json

# Environment variables
.env

# Build outputs
dist/
build/
out/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db